<head>
  <meta charset="utf-8" />
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <meta name="author" content="D.W.D. Beauvoir">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ '/css/bootstrap.min.css' | absolute_url }}" />
  <!-- font-awesome -->
  <link rel="stylesheet" href="{{ '/css/font-awesome.min.css' | absolute_url }}" />
  <!-- Main Stylesheets -->
  <link href="{{ '/css/style.css' | absolute_url }}" rel="stylesheet" />

  <!--Favicon-->
  <link rel="shortcut icon" href="{{ "images/favicon.png" | absolute_url }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.ico" | absolute_url }}" type="image/x-icon" />

  <!-- Primary Meta Tags -->
  <title>D.W.D. Beauvoir</title>
  <meta name="title" content="D.W.D. Beauvoir" />
  <meta name="description" content="Dames Wedstrijdroei Dispuut Beauvoir Enschede" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://dwdbeauvoir.nl/" />
  <meta property="og:title" content="D.W.D. Beauvoir" />
  <meta property="og:description" content="Dames Wedstrijdroei Dispuut Beauvoir Enschede" />
  <meta property="og:image" content="{{ '/images/backgrounds/social.png' | absolute_url }}" />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content="https://dwdbeauvoir.nl/" />
  <meta property="twitter:title" content="D.W.D. Beauvoir" />
  <meta property="twitter:description" content="Dames Wedstrijdroei Dispuut Beauvoir Enschede" />
  <meta property="twitter:image" content="{{ '/images/backgrounds/social.png' | absolute_url }}" />
</head>